---
title: My Software
date: 2012-06-10 22:22:20.000000000 +02:00
type: pages
published: true
status: publish
categories: []
tags: []
meta:
  _edit_last: '1'
  _wp_page_template: sidebar-page.php
author:
  login: patmuk
  email: patrick.mukherjee@gmail.com
  display_name: patmuk
  first_name: ''
  last_name: ''
permalink: my_software/
---
<p>{% if site.locale == "de" %}<br />
Die folgenden Programme entwickelte ich im Rahmen meiner Forschung zu Peer-to-Peer basierten software Entwicklungsumgebungen:</p>
<ul>
  <li><a title="PlatinVC" href="platinvc/">PlatinVC</a> - ein Peer-to-Peer basiertes Versionskontrollsystem</li>
  <li><a title="Piki" href="piki/">PIKI</a> - eine Peer-to-Peer basierte Wiki Engine</li>
  <li><a title="ASKME" href="askme/">ASKME</a> - ein Eclipse plugin zur kommunikation unter Softwareentwicklern</li>
</ul>
<p>{% endif %}<br />
{% if site.locale == "en" %}During my research in peer-to-peer software development environments, I have designed and developed:</p>
<ul>
  <li><a title="PlatinVC" href="platinvc/">PlatinVC</a> - a peer-to-peer based version control system</li>
  <li><a title="Piki" href="piki/">PIKI</a> - a peer-to-peer based Wiki Engine</li>
  <li><a title="ASKME" href="askme/">ASKME</a> - an Eclipse plugin for communication among software developers</li>
</ul>
<p>{% endif %}{% if site.locale == "sr" %}During my research in peer-to-peer software development environments, I have designed and developed:</p>
<ul>
  <li><a title="PlatinVC" href="platinvc/">PlatinVC</a> - a peer-to-peer based version control system</li>
  <li><a title="Piki" href="piki/">PIKI</a> - a peer-to-peer based Wiki Engine</li>
  <li><a title="ASKME" href="askme/">ASKME</a> - an Eclipse plugin for communication among software developers</li>
</ul>
<p>{% endif %}</p>
